.sequencer {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: aliceblue;
  padding: 5% 0;
  .container-sequencer {
    display: flex;
    flex-flow: nowrap row;
  }
  &--side {
    width: 30%;
    height: 100%;
  }
  &--map {
    width: 70%;
    height: 100%;
    padding-left: 25px;
    @import "components/Map/Map";
  }
}
@media (max-width: 767px) {
  .sequencer {
    height: auto;
    .container-sequencer {
      flex-flow: nowrap column;
    }
    &--side {
      height: 300px;
      width: 100%;
      max-width: 350px;
      margin: auto;
    }
    &--map {
      width: 100%;
      height: 600px;
      padding: 0;
    }
  }
}

